<h1>ToDo</h1>

<% @todos.each do |todo| %>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><%= todo.completed %></div>
  <div class="card-body">
    <p class="card-text"><%= todo.description %></p>
  </div>
</div>
<br>

<% end %>
